* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background: linear-gradient(to bottom, #3c2b23, #271c17);
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat';
    position: relative;
    display: flex;
    flex-direction: column;
}

.headerSection {
    display: flex;
    background: #f9eacd;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 80px;
    height: auto;
}

.logoContainer {
    margin-left: 100px;
}

.navigation ul li,
.userActions ul li,
.socials ul li {
    list-style: none;
}

.navigation ul li a,
.userActions ul li a {
    background: #f67c4c;
    padding: 9px 20px;
    border-radius: 5px;
    color: #271c17;
    font-weight: 500;
    transition: background-color 0.3s;
}

.navigation ul li a:hover,
.userActions ul li a:hover {
    background-color: #c75629;
}

.navigation ul,
.userActions ul {
    display: flex;
    gap: 50px;
}

.user {
    margin-right: 100px;
    text-align: center;
}

.user p {
    margin-bottom: 15px;
    margin-top: -10px;
}

.mainSection {
    flex: 1;
    color: #f9eacd;
}

.userInfo {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.userInfoContainer a {
    background: #f67c4c;
    color: #271c17;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 1.1rem;
}

.userInfoContainer,
.reservedBooks {
    width: 70%;
    margin: auto;
    text-align: center;
}

.userInfoContainer h2,
.reservedBooks h2 {
    font-size: 2rem;
    margin-top: 20px;
    position: relative;
    margin-bottom: 40px;
}

.userInfoContainer h2::after {
    display: block;
    content: '';
    background: #f9eacd;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -15px;
}

.userInfo {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.firstWord {
    font-weight: bold;
}

.reservedBooks h2 {
    margin-top: 40px;
}

.reservedBooks>h2::before {
    display: block;
    content: '';
    background: #f9eacd;
    width: 80%;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -15px;
    opacity: 0.5;
}

.cardsContainer {
    display: flex;
    gap: 30px;
}

.card {
    max-width: calc(20% - 20px);
}

.card img {
    width: 240px;
}

.card>h2 {
    font-size: 1.4rem;
    margin-top: 10px;
}

.returnBtn {
    background: #f67c4c;
    color: #271c17;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 1.1rem;
    transition: 0.3s;
}

.returnBtn:hover, .userInfoContainer a:hover  {
    background: #b54d24;
    cursor: pointer;
}

.footerSection {
    display: flex;
    gap: 300px;
    align-items: center;
    color: #f9eacd;
    justify-content: center;
    text-align: center;
    background: #b54d24;
    width: 100%;
}

.socials ul {
    display: flex;
    gap: 30px;
}

.socials ul li a {
    font-size: 2.5rem;
}