<main class="mainSection">
    <h2>Catalog</h2>
    <div class="addBookBtn">
        <a routerLink="add-book">Add book</a>
    </div>
    @for (book of catalogPagination.books; track $index) {
    <div class="bookCard">
        <div class="bookCover">
            <img [src]='book.imageUrl' [alt]="book.title">
        </div>
        <div class="bookInfo">
            <h3>{{book.title}}</h3>
            <p class="genres"><span class="firstWord">Genres: </span><br>{{book.genre}}</p>
            <p><span class="firstWord">Summary: </span><br>{{book.summary}}</p>
            <div class="adminActions">
                <ul>
                    <li><a routerLink="add-book">Edit</a></li>
                    <li><a href="#">Delete</a></li>
                </ul>
            </div>
        </div>
    </div>
    }


    <div class="pagination">
        <button (click)="goToPage(1)" [disabled]="catalogPagination.currentPage === 1">&laquo; First</button>
        <button (click)="goToPage(catalogPagination.currentPage - 1)" [disabled]="catalogPagination.currentPage === 1">Previous</button>
        <button class="pageInfo" disabled>Page {{ catalogPagination.currentPage}} of {{catalogPagination.totalPages}}</button>
        <button (click)="goToPage(catalogPagination.currentPage + 1)" [disabled]="catalogPagination.currentPage === catalogPagination.totalPages">Next</button>
        <button (click)="goToPage(catalogPagination.totalPages)" [disabled]="catalogPagination.currentPage === catalogPagination.totalPages">Last &raquo;</button>
    </div>
</main>