<main class="mainSection">
    <h2>Catalog</h2>
    <div class="addBookBtn">
        <a routerLink="add-book">Add book</a>
    </div>
    @for (book of books; track $index) {
    <div class="bookCard">
        <div class="bookCover">
            <img src='{{book.imageUrl}}'
                alt="book cover">
        </div>
        <div class="bookInfo">
            <h3>{{book.title}}</h3>
            <p class="genres"><span class="firstWord">Genres: </span>{{book.genre}}</p>
            <p><span class="firstWord">Summary: </span>{{book.summary}}</p>
            <div class="adminActions">
                <ul>
                    <li><a routerLink="add-book">Edit</a></li>
                    <li><a href="#">Delete</a></li>
                </ul>
            </div>
        </div>
    </div>
    }


    <div class="pagination">
        <a href="#">&laquo; Previous</a>
        <a href="#">1</a> <a href="#">2</a>
        <a href="#">3</a> <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">Next &raquo;</a>
    </div>
</main>