<div class="loginCointainer">
    <h2>Login</h2>
    <form class="loginForm">
        <div class="inputs">
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" placeholder="pesho@abv.bg" type="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" placeholder="*******" type="password" required>
            </div>
        </div>
        <div class="buttonContainer">
            <button type="submit">Login</button>
        </div>
    </form>
</div>