<div class="welcomeMsg">
    <p>Dive into a world of endless knowledge and adventure with our user-friendly library app. Explore our
        extensive collection, effortlessly borrow your favorite books.</p>
    <p>Recent books</p>
</div>
<div class="cardsContainer">
    @for (book of books; track $index) {
        <div class="card">
            <a [routerLink]="['/book-details' , book._id]">
                <img src="{{book.imageUrl}}"
                    alt="bookCover">
                <h3>{{book.title}}</h3>
            </a>
        </div>
    }
</div>