<div class="details">
    <div class="imgContainer">
        <img src={{bookData.imageUrl}} alt="bookCover">
    </div>
    <div class="summary">
        <p><span class="firstWord">Title: </span> {{bookData.title}}</p>
        <p><span class="firstWord">Author: </span> {{bookData.author}}</p>
        <p><span class="firstWord">Genre: </span> {{bookData.genre}}</p>
        <p><span class="firstWord">Pages: </span> {{bookData.numberOfPages}}</p>
        <p><span class="firstWord">Summary: </span> {{bookData.summary}} </p>
        <p><span class="firstWord">Publication date: </span> {{bookData.publicationDate}}</p>
        <p><span class="firstWord">Language: </span> {{bookData.language}}</p>
        <p><span class="firstWord">ISBN: </span> {{bookData.ISBN}}</p>
        <p><span class="firstWord">Publisher: </span> {{bookData.publisher}}</p>
        <div class="reserve">
            <p><span class="firstWord">Available Copies: </span> {{bookData.availableCopies}}</p>
            @if (username) {
            <button (click)="onSubmit(bookData._id)" class="reserveBtn"> Reserve </button>
            } @else {
            <a class="reserveBtn" routerLink="/login"> Login to reserve</a>
            }
        </div>
    </div>
</div>