<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Document</title>
</head>

<body>
    <header class="headerSection">
        <div class="logoContainer">
            <a href="#" class="logo">
                <img src="logo.png" alt="">
            </a>
        </div>
        <nav class="navigation">
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">catalog</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">login</a></li>
                <li><a href="#">register</a></li>
            </ul>
        </nav>
        <div class="user">
            <p>Hello Pesho</p>
            <div class="userActions">
                <ul>
                    <li><a href="#">profile</a></li>
                    <li><a href="#">logout</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main class="mainSection">
        <h1>About us</h1>
        <div class="aboutContent">
            <div class="text">
                <p>Welcome to BookNest, your go-to destination for a world of knowledge at your fingertips! At BookNest,
                    we
                    believe in the power of reading and the immense value of a well-curated library. Our mission is to
                    provide
                    you with easy access to an extensive collection of books and resources, no matter where you are.</p>

                <h2>Our Story</h2>
                <p>BookNest was founded with a passion for literature and a dedication to fostering a love for reading
                    in
                    the
                    digital age. We saw a need for a modern, user-friendly platform where readers could easily browse,
                    discover,
                    and enjoy a diverse range of titles. Our team is composed of book enthusiasts, tech aficionados, and
                    dedicated developers who are committed to delivering an exceptional user experience.</p>

                <h2>Our Collection</h2>
                <p>Our library features a vast selection of books, spanning various genres and formats. From timeless
                    classics
                    to contemporary bestsellers, educational texts to captivating novels, we have something for every
                    reader.
                    Our catalog is continually updated to ensure that you have access to the latest releases and hidden
                    gems.
                </p>

                <h2>Our Mission</h2>
                <p>At BookNest, our mission is to make reading more accessible and enjoyable for everyone. We strive to
                    create a
                    seamless and intuitive platform that empowers readers to explore new worlds, gain knowledge, and
                    nurture
                    their love for books. We are dedicated to building a community of readers and fostering a culture of
                    continuous learning and discovery.</p>

                <h2>Contact Us</h2>
                <p>We love hearing from our users! If you have any questions, suggestions, or feedback, please don't
                    hesitate to
                    reach out to us.</p>
                <p><span class="firstWord">Email:</span>library@example.com Phone: +1 234 567 890 Address: 123 Library
                    Street,
                    Booktown, BT 56789</p>
                <p>Your input is invaluable in helping us improve and grow our platform.</p>
                <h2>Thank you for choosing BookNest. Happy reading! </h2>
            </div>
            <div class="imgContainer">
                <img src="./library.jpg" alt="">
            </div>
        </div>
    </main>
    <footer class="footerSection">
        <div class="socials">
            <ul>
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            </ul>
        </div>
        <div class="contacts">
            <p>Email: library@example.com</p>
            <p>Phone: +1 234 567 890</p>
            <p>Address: 123 Library Street, Booktown, BT 56789</p>
        </div>
    </footer>
</body>

</html>