<footer class="footerSection">
    <div class="socials">
        <ul>
            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
    </div>
    <div class="contacts">
        <p>{{'Email: library@example.com'}}</p>
        <p>Phone: +1 234 567 890</p>
        <p>Address: 123 Library Street, Booktown, BT 56789</p>
    </div>
</footer>