<main class="mainSection" *ngIf="!isLoading && !hasError">
    <div class="userInfoContainer">
        <h2>Profile info</h2>
        <div class="userInfo">
            <p><span class="firstWord">Username: </span>{{profileData.username}}</p>
            <p><span class="firstWord">Email: </span>{{profileData.email}}</p>
        </div>
    </div>
    <div class="reservedBooks">
        <h2>Reserved Books</h2>
        <div class="cardsContainer">
            @if (profileData.reservedBooks?.length == 0 ) {
            <p class="noBooks">No reserved books yet.</p>
            } @else {
            @for (book of profileData.reservedBooksData; track $index ) {
            <div class="card">
                <a [routerLink]="['/book-details' , book._id]">
                    <img src={{book.imageUrl}} alt="bookCover">
                </a>
                <h2>{{book.title}}</h2>
                <button (click)="onSubmit(book._id)" class="returnBtn">Return</button>
            </div>
            }
            <div *ngIf="isModalOpen" class="modal-backdrop">
                <div class="modal">
                    <h2>Confirm book return</h2>
                    <p>Are you sure you want to return this book?</p>
                    <div class="modal-actions">
                        <button (click)="confirmReturn()">Yes</button>
                        <button (click)="closeModal()">Cancel</button>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</main>