<header class="headerSection">
    <div class="logoContainer">
        <a href="#" class="logo">
            <img src="logo.png" alt="">
        </a>
    </div>
    <nav class="navigation">
        <ul>
            <li><a routerLink="/">home</a></li>
            <li><a routerLink="/catalog">catalog</a></li>
            <li><a routerLink="/about">about</a></li>
            <li *ngIf="!(isLoggedIn$ | async)"><a routerLink="/login">login</a></li>
            <li *ngIf="!(isLoggedIn$ | async)"><a routerLink="/register">register</a></li>
        </ul>
    </nav>
    <div class="user">
        <p *ngIf="(isLoggedIn$ | async)">Hello {{username}}</p>

        <div *ngIf="(isLoggedIn$ | async)" class="userActions">
            <ul>
                <li><a routerLink="/profile">profile</a></li>
                <li><a (click)="logout()" href="#">logout</a></li>
            </ul>
        </div>
    </div>
</header>